body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background-color: rgb(34, 183, 233);
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
    line-height: 80px;
    margin: 0 5px;
    padding-right: 100px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    text-decoration: none;
    font-weight: bold;
}

nav ul li{
    display: inline-block
}

.container{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../images/2.png");
    background-position: center;
    background-size: cover;
    position: relative;
    background-size: cover;
    height: calc(100vh - 90px);
}

/* Hero Section */
.hero-section{
    text-align: center;
    padding:150px;
}
/*
.hero-section span{
    color: rgb(255, 81, 0);
}*/
.hero-section h1{
    font-size: 56px;
    color:white;
}

.hero-section p{
    font-size:36px;
    color:white;
    font-weight: bold;
}

.hero-section button{
    background-color: rgb(34, 183, 233);
    border-style: none;
    border-radius: 10px;
    font-size:22px;
    color:white;
    padding:15px;
    font-weight: bold;
}

.hero-section button:hover{
    background-color: white;
    color:rgb(34, 183, 233);
}

/* Services */
.services{
    min-height: 50vh;
    min-width: 100%;
    padding-top:10px;
    color:white;
    background-color: rgb(34, 183, 233);
}

.services h1{
    text-align: center;
}

.service-container{
    display: flex;
}

#stethoscope i, #heartbeat i, #medkit i, #user i{
    text-align: center;
    padding-left:110px;
    margin: 10px;
    color:black;
}

#stethoscope h2, #heartbeat h2, #medkit h2, #user h2{
    text-align: center;
}

#stethoscope p, #heartbeat p, #medkit p, #user p{
    text-align: center;
}

#stethoscope, #heartbeat, #medkit, #user{
    padding: 15px;
}

/* About Section */
.about-section{
    display: flex;
    background-color: white;
    min-height: 40vh;
    padding: 10px 80px 10px 80px;
    /*padding: 35px 120px;*/
}

.about .about-section #about-image img{
    padding: 30px 0;
    width: 450px;
    height: 250px;
}

.about .about-section .about-logo{
    padding: 60px 25px;
    text-justify: newspaper;
}

.about-logo button{
    background-color: rgb(34, 183, 233);
    border-style: none;
    border-radius: 10px;
    font-size:22px;
    color:white;
    padding:5px;
}

.about-logo button:hover{
    background-color: black;
    color:rgb(34, 183, 233);
}

 /* Appointment Form */
.app-form{
    min-height: 100vh;
    background-color: rgb(158, 156, 156);
    /*padding: 20px 0 550px 0;*/
    background-image: url(../images/tools\ 2.jpg);
    background-size: cover;
    opacity: 0.6;
 }

.app-form h1{
    text-align: center;
}

.app-form hr{
    width: 5%;
    height:0px;
    padding-top: 0;
}

.app-form .form-container{
    background-color: aliceblue;
    padding: 50px 250px 100px 250px;
    margin: 20px 250px;
    border: 5px;
    border-radius: 10px;
}

.form-labels{
    padding: 10px;
}

.form-labels label{
    font-size: 18px;
    padding: 0 180px;
    /*padding: 10px 0 10px 0;*/
}

.form-labels 
#fname, 
#gender, 
#mobile, 
#email, 
#address1, 
#address2, 
#suburbs{
    padding-right: 80px;
    font-size: 18px;
}

footer{
    padding:15px;
    background-color: rgb(34, 183, 233);
}

footer p{
    text-align: center;
}