body{
    font-family: 'Overpass', sans-serif;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color:dodgerblue;
}

button a{
   text-decoration: none;
   color: black;
}

/*Showcase section*/
.showcase{
    min-height:550px;
    background-image: url("../images/1.jpg");
    background-size: cover;
    opacity:0.7;
}

.showcase-body .container{
    text-align:center;
    padding:110px 0;
}

.showcase-body .container h1{
    font-size: 65px;
    font-weight: bold;
    color:black;
}

.showcase-body .container p{
    font-size:55px;
    color:black;
    font-weight: bold;
}

span{
    color:dodgerblue;
}

/*About us section*/
.container .main{
    min-height:250px;
    display: flex;
    padding-top:20px;
}

.container .main .content h1{
    text-align:center;
    font-size: 55px;
}

.container .main .content p{
    font-size: 15px;
}

.main .content img{
    width:85%;
    float:right;
}

/*Services section*/
.services{
    min-height:250px;
    padding:40px;
}

.services .container .icons span{
    width:10%;
    font-size:25px;
    padding:10px 80px;
    float: center;
}

.services .container h1{
    padding:20px;
    text-align:center;
    font-size: 55px;
}