body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    background-color: rgb(34, 183, 233);
}

.container{
    padding: 0 20px 150px 100px;
    margin:0;
    background-image: url("../images/cover.jpg");
    background-size:cover;
}

.navbar, .header-link, .header-logo{
    display:flex;
    flex-direction: row;
    padding:10px 5px 0 15px;
}

.header-logo{
    flex:2;
    font-weight: bold;
    font-size: 28px;
    text-align: left;
}

.header-link{
    flex:0.6;
    text-align:right;
    font-size: 24px;
}

.header-link button{
    background-color: rgb(34, 183, 233);
    border-radius: 10px;
    border-style: none;
    margin-left:15px;
    font-size: 18px;
}

.header-link button:hover{
    background-color: white;
}

.header-logo a, .header-link a{
    text-decoration: none;
    color:white;
}

/* Hero Section */
.hero-section{
    text-align: center;
    padding:60px;
}

.hero-section h1{
    font-size: 56px;
    color:white;
}

.hero-section p{
    font-size:36px;
    color:white;
    font-weight: bold;
}

.hero-section button{
    background-color: rgb(34, 183, 233);
    border-style: none;
    border-radius: 10px;
    font-size:22px;
    color:white;
    padding:5px;
}

.hero-section button:hover{
    background-color: white;
    color:rgb(34, 183, 233);
}

/* Services */
.services{
    padding:10px;
    color:white;
}
.services h1{
    text-align: center;
}

.service-container{
    display: flex;
}

#stethoscope i, #heartbeat i, #medkit i, #user i{
    text-align: center;
    padding-left:120px;
    margin: 10px;
    color:black;
}

#stethoscope p, #heartbeat p, #medkit p, #user p{
    text-align: center;
}

#stethoscope, #heartbeat, #medkit, #user{
    padding: 15px;
}

/* About Section */
.about-section{
    display: flex;
    background-color: white;
    padding: 35px 120px;
}

.about .about-section #about-image img{
    padding: 30px 0;
    width: 450px;
    height: 250px;
}

.about .about-section .about-logo{
    padding: 60px 25px;
    text-justify: newspaper;
}

.about-logo button{
    background-color: rgb(34, 183, 233);
    border-style: none;
    border-radius: 10px;
    font-size:22px;
    color:white;
    padding:5px;
}

.about-logo button:hover{
    background-color: black;
    color:rgb(34, 183, 233);
}

footer{
    padding:15px;
}

footer p{
    text-align: center;
}